langchain
PyPDF2
openai
wave
streamlit==1.25.0
tiktoken
nltk
#azure-cognitiveservices-speech
audio_recorder_streamlit
streamlit-option-menu
streamlit-lottie
faiss-cpu
boto3
Ipython

bokeh==2.4.3
streamlit_bokeh_events
numpy
pandas
SpeechRecognition
google.generativeai
langchain-google-genai
dataclasses
typing



gTTS==2.2.2
googletrans==3.1.0a0
